.container{
   height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hex-colors{
    text-align: center;
}
.hex-colors h1{
    animation: colorchange 5s infinite alternate;
}
@keyframes colorchange{
    0%{
        color: indigo;
    }
    20%{
        color: blue;
    }
    40%{
        color: green;
    }
    60%{
        color: yellow;
    }
    80%{
        color: orange;
    }
    100%{
        color: red;
    }
    
}