.wrapper, .location-container,.category-container,.location-container,.price-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 240px;
    margin-left: 10px;
}

.filter-sidebar-btn-container{
    display: flex;

    justify-content: center;
    
    button{
        width: 100px;
        color:white;
        background-color: red;
        border-radius: 5px;
        height: 30px;
        border: none;
    }
}

.filter-sidebar-input{
    width: 100px;
    border-radius: 5px;
    height: 35px;
    border: 1px solid grey;
}
.filter-sidebar-min-max-input-container{
    display: flex;
    align-items: center;
    gap: 5px;
    
}

hr{
    width: 240px;
}