.index-wrapper{
    display: flex;
   align-items: start;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 40px;
    gap: 10px; 
}

.page-item .page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    color: #000; 
    background-color: transparent;
    border: none; 
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
}

.page-item:not(.active):not(.disabled) .page-link:hover {
    background-color: #f0f0f0;
}

.page-item.active .page-link {
    background-color: #ff2a2a;
    color: #ffffff;
}

.page-item.disabled .page-link {
    color: #aaa;
    background-color: transparent;
}