section{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 20px;

}

.imgTrash{
    background-color: transparent;
}

.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-bottom: 10px;

    label{
        width: 150px;
        height: 30px;
    }
    input{
        width: 250px;
        height: 30px;
    }
}

.btnStyling{
    border-radius: 30px;
    height: 40px;
    width: 200px;
    border:none;
    color: white;
    background-color: #1bb2b2;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px
}

.top-container{
    display: flex;
    justify-content: space-between;


    .profile-container{
        display: flex;
        flex-direction: column;

        form{
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.15);
            align-items: center;
            height: 240px;

            .profile-style-container{
                display: flex;
                flex-direction: row;
                gap: 50px;

                .profile-left-container,.profile-right-container{
                    display: flex;
                    flex-direction: column;
                }
            }
       }
    }
    .password-container{
        form{
            display: flex;
            flex-direction: column;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.15);
            align-items: center;
            height: 240px;
            justify-content: space-between;
        }
    }
}

.styling-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    a{
        height: 20px;
        margin-top: 5px;
    }
    
    form{
        margin-bottom: 0;
        height: 20px;

        .btnDeletelisting{
            background-color: transparent;
            border: none;
            text-decoration: underline;
            font-size: 15px;
        }
    }    
}

.listings, .favorites {
    display: flex;
    flex-wrap: wrap; 
    gap: 30px; 
    margin-top: 20px;
}

.listing-item {
    display: flex;
    flex-direction: column; 
    width: max-content; 
}



