#toastbox{
    position: absolute;
    bottom: 30px;
    right:30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
   
    
}
.toast{
 width: 400px;
 height: 80px;
 background-color: #fff;
 font-weight: 500;
 margin: 15px 0;
 box-shadow: 0 0 20px rgb(0, 0, 0,0.3);
 align-items: center;
 display: flex;
 flex-direction: row-reverse;
 justify-content: space-between;
 position: relative;
 font-family: Arial, sans-serif;
 padding-right: 20px;


}
.toast::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0; /* Initialbreite auf 0 setzen */
    height: 5px; /* Höhe des animierten Unterstrichs */
    background: green;
    animation: anim 3s linear forwards;
}
#toastboximg{
    height: 40px;
    margin-left: 20px;
}
#toastboxtext{
    margin-right: 20px;
}

@keyframes anim {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

